{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block modal_cart %}
    {% include 'includes/cart_button.html' %}
{% endblock %}

{% block main_page_footer_css_style %}
	<link rel="stylesheet" href="{% static "css/my_footer_css.css" %}">
{% endblock %}

{% block page_content %}
	 <!-- Контент на странице -->
    <div class="row">
        <!-- Форма фильтров -->
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Фільтри
            </button>

            <form action="{% if request.GET.q %}{% url 'shop:search' %}{% else %}{% url 'shop:products' slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %} checked {% endif %}>
                    {% if request.GET.q %}
                        <input type="hidden" name="q" value="{{ request.GET.q }}">
                    {% endif %}
                    <label class="form-check-label" for="flexCheckDefault">
                        Товари по акції
                    </label>
                </div>
                <p class="text-white mx-3 mt-3">Сортувати:</p>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" {% if not request.GET.get.order_by or request.GET.get.order_by == 'default' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                        За замовчуванням
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" {% if request.GET.get.order_by == 'price' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Від дешевих до дорогих
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" {% if request.GET.get.order_by == '-price'%}checked{% endif %} >
                    <label class="form-check-label" for="flexRadioDefault3">
                        Від дорогих до дешевих
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mx-3 mt-3">Показати</button>
            </form>
        </div>
        <!-- Карта товара -->
        {% if request.GET.q %}
            <h3 class="mt-4">Результат пошуку: {{ request.GET.q }}</h3>
            {% if not products %}
                <h3 class="mt-4">Результати пошуку не знайдено</h3>
            {% endif %}
        {% endif %}

        {% for product in products %}
            <div class="col-lg-4 col-md-6 p-4">
                <div class="card border-primary rounded custom-shadow">
                    {% if product.image %}
                        <img src="{{ product.image.url }}"
                             class="card-img-top"
                             alt="{{ product.product_name }}">
                    {% else %}
                        <img src="{% static 'images/Not found image.png' %}" class="card-img-top" alt="{{ product.product_name }}">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'shop:product' product.slug %}">
                            <p class="card-title">
                            {% autoescape off %}
                                {% if product.headline %} {{ product.headline }} {% else %} {{product.product_name}} {% endif %}
                            {% endautoescape %}
                            </p>
                        </a>
                        <p class="card-text">
                            {% autoescape off %}
                                {% if product.headline_d %} {{ product.headline_d|truncatechars:90 }} {% else %} {{product.description|truncatechars:30}} {% endif %}
                            {% endautoescape %}
                        </p>
                        <p class="product_id">id: {{ product.display_id }}</p>
                        <div class="d-flex justify-content-between">
                            {% if product.discount %}
                                <p><s>{{ product.price }}</s> uah</p>
                                <p><strong>{{ product.sell_price }} uah </strong></p>
                                <span class="badge bg-warning text-dark">Знижка {{ product.discount }}%</span>
                            {% else %}
                                <p>{{ product.sell_price }} uah</p>
                            {% endif %}
                            <!-- <p><strong>100.00 $</strong></p> -->
                            <a href="{% url 'cart:cart_add' product.slug %}" class="btn add-to-cart">
                                <img class="mx-1" src="{% static 'icons/cart-plus.svg' %}" alt="Catalog Icon"
                                     width="32" height="32">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
	 <!-- Пагинация -->
    {% if products %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-4">
                <div class="custom-shadow d-flex">

                    <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                        <a class="page-link"
                           href="{% if products.has_previous %}?{% change_params page=products.previous_page_number %}
                           {% else %}#
                           {% endif %}">
                            Попередня
                        </a>
                    </li>

                    {% for page in products.paginator.page_range %}
                        {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                            <li class="page-item {% if products.number == page %} active {% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                        <a class="page-link"
                           href="{% if products.has_next %}?{% change_params page=products.next_page_number %}
                           {% else %}#
                           {% endif %}">
                            Наступна
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block footer %}
	<footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white"></p>
        </div>
    </footer>
{% endblock %}
